.navbar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: #ffffff;
}

.navbar-brand {
    font-size: clamp(15pt, 10vw, 18pt);
}

.nav-link.active {
    font-weight: 700;
}

.nav-link {
    color: #ffffff;
}

